@using Titiushko.MVC5.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_ShortLayout.cshtml";
}
<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
        <div class="text-center m-b-md custom-login">
            <h3>PLEASE LOGIN TO APP</h3>
            <p>This is the best app ever!</p>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                @using (Html.BeginForm("login", "account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "example@gmail.com", title = "Please enter you username", required = "required" })
                        <span class="help-block small">Your unique username to app</span>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "*****************", title = "Please enter your password", required = "required" })
                        <span class="help-block small">Yuor strong password</span>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="checkbox login-checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "i-checks" })
                            @Html.LabelFor(m => m.RememberMe)
                            <span class="help-block small">(if this is a private computer)</span>
                        </div>
                    </div>
                    <a class="btn btn-success btn-block loginbtn" href="@Url.Action("login", "account")">Login</a>
                    <a class="btn btn-default btn-block" href="@Url.Action("register", "account")">Register</a>
                }
            </div>
        </div>
    </div>
</div>