<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/img/favicon.ico")">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/owl")
    @Styles.Render("~/Content/animate")
    @Styles.Render("~/Content/normalize")
    @Styles.Render("~/Content/meanmenu")
    @Styles.Render("~/Content/main")
    @Styles.Render("~/Content/mCustomScrollbar")
    @Styles.Render("~/Content/metisMenu")
    @Styles.Render("~/Content/style")
    @Styles.Render("~/Content/responsive")
    @Styles.Render("~/Content/alertify")
    @Styles.Render("~/Content/titiushko")
    @Scripts.Render("~/Scripts/modernizr")
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
    <div class="color-line"></div>
    <br />
    <br />
    <div class="container-fluid">
        @RenderBody()
        <div class="row">
            <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center login-footer">
                <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/wow")
    @Scripts.Render("~/Scripts/jquery.price.slider")
    @Scripts.Render("~/Scripts/meanmenu")
    @Scripts.Render("~/Scripts/owl.carousel")
    @Scripts.Render("~/Scripts/jquery.sticky")
    @Scripts.Render("~/Scripts/jquery.scrollUp")
    @Scripts.Render("~/Scripts/mCustomScrollbar")
    @Scripts.Render("~/Scripts/counterup")
    @Scripts.Render("~/Scripts/metisMenu")
    @Scripts.Render("~/Scripts/tab")
    @Scripts.Render("~/Scripts/main")
    @Scripts.Render("~/Scripts/jquery.browser")
    @Scripts.Render("~/Scripts/alertify")
    @Scripts.Render("~/Scripts/titiushko")
    <script type="text/javascript">
        @Html.Partial("Scripts")
        @RenderSection("ScriptsReady", required: false)
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>