@model Titiushko.MVC5.Models.StatusModel
@{
    Layout = null;
}
@using (Html.BeginForm("create", "status", FormMethod.Post, new { autocomplete = "off", data_toggle = "validator", id = "StatusForm" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Titiushko.Resources.Resource.TextCreate</button>
                <button type="button" class="btn btn-default CloseMyAlertify"><i class="fa fa-times-circle"></i> @Titiushko.Resources.Resource.TextCancel</button>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/Scripts/jquery.validate")
}