@model Titiushko.MVC5.Models.TitiushkoStatus

@{
    ViewBag.Title = ViewBag.BreadcomeArea.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@string.Format(Titiushko.Resources.Resource.TextConfirmDelete, Titiushko.Resources.Resource.ModuleStatusName)</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> @Titiushko.Resources.Resource.TextDelete</button>
            @Html.ActionLink(Titiushko.Resources.Resource.TextBackToList, Titiushko.MVC5.Constants.Names.ActionName.INDEX, null, new { @class = "btn btn-default" })
        </div>
    }
</div>