@model Titiushko.MVC5.Models.TitiushkoStatus

@{
    ViewBag.Title = ViewBag.BreadcomeArea.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Titiushko.Resources.Resource.TextEdit, Titiushko.MVC5.Constants.Names.ActionName.EDIT, new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink(Titiushko.Resources.Resource.TextBackToList, Titiushko.MVC5.Constants.Names.ActionName.INDEX, null, new { @class = "btn btn-default" })
</p>