@model IEnumerable<StatusModel>
@using Titiushko.MVC5.Models;

@{
    ViewBag.Title = ViewBag.BreadcomeArea.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink(Titiushko.Resources.Resource.TextCreateNew, Titiushko.MVC5.Constants.Names.ActionName.CREATE, null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserModified)
        </th>
        <th></th>
    </tr>
    @foreach (StatusModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserModified)
            </td>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action(Titiushko.MVC5.Constants.Names.ActionName.EDIT, new { id = item.Id })" class="btn btn-primary"><i class="fa fa-pencil"></i> @Titiushko.Resources.Resource.TextEdit</a>
                    <a href="@Url.Action(Titiushko.MVC5.Constants.Names.ActionName.DETAILS, new { id = item.Id })" class="btn btn-success"><i class="fa fa-eye"></i> @Titiushko.Resources.Resource.TextDetails</a>
                    <button data-id="@item.Id" class="btn btn-danger @string.Format("{0}{1}", Titiushko.MVC5.Constants.Names.ActionName.DELETE, Titiushko.Resources.Resource.ModuleStatusName)"><i class="fa fa-trash"></i> @Titiushko.Resources.Resource.TextDelete</button>
                </div>
            </td>
        </tr>
    }
</table>
@section Scripts {
    <script type="text/javascript">
        $(".@string.Format("{0}{1}", Titiushko.MVC5.Constants.Names.ActionName.DELETE, Titiushko.Resources.Resource.ModuleStatusName)").click(function (event) {
            event.preventDefault();
            Titiushko.DeleteRecord.Execute({
                titleName: "@Titiushko.Resources.Resource.ModuleStatusName",
                data: { id: $(this).data("id") },
                asynchronous: true,
                url: "@Url.Action(Titiushko.MVC5.Constants.Names.ActionName.DELETE)",
                typePetition: "@FormMethod.Post"
            });
        });
    </script>
}